/* ----------------- ----- ----------------- */
/* ------------ general-page-4 ------------ */

.page-4 {
  text-align: center;
  margin-bottom:2rem;
  clear:both;
}


/* fonts */
.page-4 span {
  display: block;
  font-size: 1.8rem;
  line-height: 2.5rem;
}


/* lists */
/* ----------------- ----- ----------------- */
/* ------------ plan-layout --- ------------ */

.plan {
  border:1px solid salmon;
  width:27%;
}

.plans{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.plan ul {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  margin-top:4rem;
  padding:1.5rem;
}

.plan li {
  display: flex;
  justify-content: space-between;

  width: 100%;

  font-size: 1.2rem;
  margin: 0.2rem;
}

.p-descpription {
  height:20vh;
  border:1px solid salmon;
}

@media (max-width:900px) {
  
  .plan {
    width: 80%;
  }

  
  .page-4 h6 {
    font-size: 1.5rem;
  }
  
  .page-4 span {
    font-size: 1rem;
  }
  
  .page-4 p {
    font-size: 1rem;
  }
  
  .page-4 ul {
    margin-top: 1rem;
  }
  
  .plans {
    flex-direction: column;
  }
}
